<header class="header">
  <a class="header__logo" routerLink="/">{{ 'app.title' | translate }}</a>

  <nav class="header__breadcrumbs" [attr.aria-label]="'header.breadcrumbLabel' | translate">
    @if (isDetailPage) {
      <a routerLink="/">{{ 'header.products' | translate }}</a>
      @if (productLabel$ | async; as productLabel) {
        <span> / {{ productLabel }}</span>
      } @else {
        <span> / {{ 'header.detail' | translate }}</span>
      }
    } @else {
      <span>{{ 'header.products' | translate }}</span>
    }
  </nav>

  <span class="header__cart">
    {{ 'header.cart' | translate }} ({{ cartCount$ | async }})
  </span>
</header>
