<a class="product-item" [routerLink]="['/product', product().id]">
  <img
    class="product-item__image"
    [src]="product().imgUrl"
    [alt]="product().brand + ' ' + product().model"
  />

  <p class="product-item__brand">{{ product().brand }}</p>
  <p class="product-item__model">{{ product().model }}</p>

  @if (formatPrice(product().price); as priceValue) {
    <p class="product-item__price">{{ priceValue | currency: 'EUR' : 'symbol' : '1.0-0' }}</p>
  } @else {
    <p class="product-item__price product-item__price--empty">
      {{ 'productItem.priceUnavailable' | translate }}
    </p>
  }
</a>
